<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.utem.ftmk.ondemandfueldelivery">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_bakmai"
        android:label="Bak Mai"
        android:roundIcon="@drawable/ic_bakmai"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnDemandFuelDelivery">
        <activity
            android:name=".ResetPassword"
            android:exported="true" />
        <activity
            android:name=".AdminVerificationRequestDetail"
            android:exported="true" />
        <activity
            android:name=".AdminVerificationRequest"
            android:exported="true" />
        <activity
            android:name=".workerProfile"
            android:exported="true" />
        <activity
            android:name=".customerVerifyAccount"
            android:exported="true" />
        <activity
            android:name=".CustomerOrderRecord"
            android:exported="true" />
        <activity
            android:name=".AdminUpdateFuelPrice"
            android:exported="true" />
        <activity
            android:name=".AdminRegisterWorkerAccount"
            android:exported="true" />
        <activity
            android:name=".AdminActivity"
            android:exported="true" />
        <activity
            android:name=".deliveryStatusWorkerSide"
            android:exported="true" />
        <activity
            android:name=".internetLostConnection"
            android:exported="true" />
        <activity
            android:name=".deliveryStatusCustomerSide"
            android:exported="true" />
        <activity
            android:name=".customerProfile"
            android:exported="true" />
        <activity
            android:name=".deliveryStatusEmptyCustomerSide"
            android:exported="true" />
        <activity
            android:name=".editPhoneNumCustomerProfile"
            android:exported="true" />
        <activity
            android:name=".editPasswordCustomerProfile"
            android:exported="true" />
        <activity
            android:name=".editAddressCustomerProfile"
            android:exported="true" />
        <activity
            android:name=".editNameCustomerProfile"
            android:exported="true" />
        <activity
            android:name=".editCustomerProfile"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBx-uRJyPlOUy1meGoi7yvUzgvHIN4pqeY" />

        <activity
            android:name=".WorkerProfileActivity"
            android:exported="true" />
        <activity
            android:name=".UserProfile"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>